.btn {
	color: var(--main-color);
	background: rgba(93, 113, 221, 0.2);
}

.btn:hover {
	background-color: var(--main-color-d) !important;
}

.center {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}
