.btn {
	color: var(--main-color);
	background: rgba(93, 113, 221, 0.2);
}

.btn:hover {
	background-color: var(--main-color-d) !important;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

@media (max-width: 620px) {
	.btn {
		display: none;
	}
}
