.wrapper {
	margin: auto auto;
	width: 100%;
	max-width: 1160px;
	display: flex;
	justify-content: space-between;
}

.contact {
	width: 100%;
	max-width: 350px;
}

.ul {
	margin-top: 40px;
	list-style-type: none;
	display: flex;
	gap: 20px;
	& > li {
		transition: all 0.4s;
	}
	& > li:hover {
		transform: scale(1.06);
	}
}

.img {
	transition: all 0.4s;
}
.img:hover {
	border-radius: 100%;
	box-shadow: 0px 0px 6px 6px rgba(66, 94, 255, 0.2);
}

.phone {
	margin-top: 30px;
}

.title {
	font-weight: 500;
	font-size: 26px;
}

.place {
	margin-top: 20px;
	font-weight: 400;
	font-size: 18px;
	color: #5d71dd;
}

@media (max-width: 1025px) {
	.wrapper {
		padding: 42px;
		gap: 90px;
	}
}
@media (max-width: 771px) {
	.wrapper {
		margin: 60px auto;
		flex-wrap: wrap;
		padding: 0;
		gap: 50px;
	}

	.contact {
		max-width: none;
		padding: 0 20px;
	}
}
