.wrapper {
	width: 100%;
	padding: 30px 40px 30px 40px;
	border-radius: 20px;
	box-shadow: 4px 8px 40px 0 rgba(8, 24, 111, 0.2);
	background: #fff;
	cursor: pointer;
	position: relative;
	max-height: 400px;
	overflow: auto;
}
.star {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 2;
	font-size: 25px;
	transition: all 0.4s;
}

.star:hover {
	transform: scale(1.2);
}

.add {
	fill: rgb(247, 247, 63);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	margin-top: 30px;
}

.text {
	margin-top: 20px;
}

.m {
	font-size: 24px;
}

.s {
	font-size: 15px;
}

@media (max-width: 820px) {
	.wrapper {
		/* overflow: auto; */
		height: 100%;
	}
	.title {
		font-size: 18px;
	}
}
