.category {
	display: inline-block;
	border-radius: 8px;
	padding: 8px 16px;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.4s;
}

.category:hover {
	transform: scale(1.08);
}

.white {
	background: rgba(255, 255, 255, 0.2);
	> a {
		color: white;
	}
}

.blue {
	> a {
		color: #5d71dd;
	}
	background: rgba(93, 113, 221, 0.05);
}
