.wrapper {
	position: relative;
	padding: 40px 30px;
	background: #5d71dd;
	border-radius: 20px;
	min-width: 320px;
	min-height: 400px;
	transition: all 0.5s;
	cursor: pointer;
	.text {
		margin-top: 30px;
		color: white;
	}
	.data {
		color: #fff;
	}
}
.data {
	position: absolute;
	bottom: 40px;
}

.wrapper:hover {
	box-shadow: 4px 8px 40px 0 rgba(8, 24, 111, 0.2);
	background: #fff;
	.text {
		color: black;
	}
	.data {
		color: rgba(47, 34, 34, 0.4);
	}
}
