.ul {
	display: flex;
	gap: 40px;
	list-style-type: none;
	& > li {
		& > a {
			display: block;
			font-weight: 400;
			color: #000;
			transition: all 0.3s;
		}
		& > a:hover {
			transform: scale(1.1);
			color: var(--main-color);
		}
		& > a:focus {
			color: var(--main-color-d);
			text-decoration: underline;
			transform: scale(1.1);
		}
	}
}

@media (max-width: 1024px) {
	.ul {
		gap: 20px;
		& > li {
			& > a {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 620px) {
	.ul {
		flex-direction: column;
		gap: 40px;
		align-items: center;
		& > li {
			& > a {
				color: white;
				font-size: 25px;
			}
		}
	}
}
