.wrapper {
	display: flex;
	gap: 30px;
	height: 400px;
	> div:hover {
		> div {
			a {
				color: var(--main-color);
			}
		}
	}
}

@media (max-width: 820px) {
	.wrapper {
		height: 100%;
		flex-direction: column;
	}
}
