.footer {
	margin: 0;
	margin-top: auto;
	padding: 40px 0;
	background-color: var(--footer-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footerLinks {
	margin: 20px 0;
	display: flex;
	gap: 15px;
	& > li {
		& > a {
			display: block;
			font-weight: 400;
			color: #000;
			transition: all 0.3s;
		}
		& > a:hover {
			transform: scale(1.1);
			color: var(--main-color);
		}
		& > a:focus {
			color: var(--main-color-d);
			text-decoration: underline;
			transform: scale(1.1);
		}
	}
}

.info {
	text-align: center;
}
