.text {
	font-weight: 400;
	font-size: 18px;
	color: #2f2222;
}

.data {
	font-weight: 400;
	font-size: 18px;
	color: rgba(47, 34, 34, 0.4);
}

.border {
	border: 1px solid rgba(47, 34, 34, 0.1);
}

@media (max-width: 1024px) {
	.news {
		overflow: hidden;
	}
	.border {
		display: none;
	}
}

@media (max-width: 620px) {
	.news {
		overflow: visible;
	}
	.border {
		display: block;
	}
}
