.wrapper {
	display: flex;
	gap: 30px;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
}

@media (max-width: 720px) {
	.wrapper {
		flex-direction: column;
	}
	.info {
		gap: 20px;
	}
}
