.wrapper {
	display: flex;
	gap: 30px;
	> div:first-child {
		div:nth-child(2) {
			color: white;
		}
		div:last-child {
			color: white;
		}
	}
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
}

@media (max-width: 820px) {
	.wrapper {
		flex-direction: column;
	}
	.info {
		gap: 20px;
	}
}
