.wrapper {
	margin: 140px auto;
	width: 100%;
	max-width: 1160px;
	display: flex;
	/* gap: 290px; */
	justify-content: space-between;
}

.contact {
	width: 100%;
	max-width: 350px;
}

.ul {
	margin-top: 40px;
	list-style-type: none;
	display: flex;
	gap: 20px;
}

.phone {
	margin-top: 30px;
}

.title {
	font-weight: 500;
	font-size: 26px;
}

.place {
	margin-top: 20px;
	font-weight: 400;
	font-size: 18px;
	color: #5d71dd;
}

@media (max-width: 1025px) {
	.wrapper {
		padding: 42px;
		gap: 90px;
	}
}
@media (max-width: 771px) {
	.wrapper {
		margin: 60px auto;
		flex-wrap: wrap;
		padding: 0;
		gap: 50px;
	}

	.contact {
		max-width: none;
		padding: 20px;
	}
}
